/*
 * reset default browser css
 */

html,
body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}
